.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;
    gap: 44px;
}

.top_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form_section{
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 20px;
}
.form_section form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_controller{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_controller input{
    height: 44px;
    padding: 0 8px;
}
.form_controller label{
    position: absolute;
    top: -12%;
    left: 8%;
    background-color: #fff;
    padding: 0 10px;
}
.form_controller textarea{
    min-height: 98px;
    min-width: 44px;
}

.image_section img{
    width: 480px;
}
